.App .container {
  max-width: 600px;
  margin: 30px auto;
  border: 2px solid #8f8e8e;
  padding: 16px;
  border-radius: 4px;
}
.App a {
  text-decoration: none;
  color: purple;
}

.App footer {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.App footer a {
  color: purple;
  text-decoration: none;
}
